<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.0/theme-default/index.css" integrity="sha256-xAgSImVC3RpKLCjs2WcvVqnJob87rw+fr2JClUaE3wQ=" crossorigin="anonymous" />
		<link rel="stylesheet" href="style/default.css">
	</head>
	<body>
		<div id="app">
			<el-row :gutter="10" class="persona-container">
				<el-col :xs="24" class="text-right">
					<personas @change="personaChange"></personas>
				</el-col>
			</el-row>

			<div class="content">
				<emergency></emergency>

				<section class="list-prescriptions">
					<div v-for="prescription in prescriptions">
						<el-card :body-style="{ padding: '0px' }">
							<img src="static/media/{{ prescription.img }}" class="image">
							<div class="padded">
								<h4>{{ prescription.title }}</h4>
								<div class="bottom clearfix">
									<el-tag v-if="precription.overdue" type="danger">Overdue</el-tag>
									<el-tag v-if="prescription.bulk" type="gray">60 tablets</el-tag>
									<el-tag v-if="prescription.inStock" type="success">In Stock</el-tag>
									<el-checkbox v-model="checked">Order</el-checkbox>
								</div>
							</div>
						</el-card>
					</div>
				</section>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js" integrity="sha256-CaFg/YykXqx3pn0h0oVBc6u5glps1fubTHqe/gHi/pA=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.0/index.js" integrity="sha256-tgga5j6kQBXAsyIp7yuP4i1L8AafIZdd1S61Pk3fDqk=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js" integrity="sha256-JXU9bC6uJttvR5dnFkXWImMeNfVl0MwHM8OdBtdGtJs=" crossorigin="anonymous"></script>
		<script src="/static/lib/vue.loader.js"></script>
		<script src="/static/logic/main.js"></script>

	</body>
</html>
